[submodule "csci2412/samples/appointment"]
	path = csci2412/samples/appointment
	url = https://github.com/oldskoolfan/appointments.git
[submodule "csci2412/samples/blog"]
	path = csci2412/samples/blog
	url = https://github.com/oldskoolfan/blog.git
[submodule "csci2412/samples/ecommerce"]
	path = csci2412/samples/ecommerce
	url = https://github.com/oldskoolfan/ecommerce.git
[submodule "games/tanks"]
	path = games/tanks
	url = https://github.com/oldskoolfan/tanks.git
