/* normalize.css (https://necolas.github.io/normalize.css) */
@import url('https://necolas.github.io/normalize.css/4.1.1/normalize.css');

/* main layout */
* {
	box-sizing: border-box;
}

.hidden {
	display: none;
}

.clearfix:after {
	content: " ";
	display: table;
	clear: both;
}

html, body {
	height: 100%;
	overflow: auto;
	font-size: 1em;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 1.5em;
}

div#wrapper {
	min-height: 100%;
	position: relative;
	overflow: auto;
	padding-bottom: 50px;
}

main, footer {
	text-align: center;
}

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 0.8em;
	color: gray;
	flex-grow: 0;
	padding: 1em 0;
}

hr {
	max-width: 600px;
}

/* logo */
div#logo-wrapper {
	height: 80px;
	width: 300px;
	margin: 30px auto 0;
}

div#logo-wrapper a {
	height: inherit;
	width: inherit;
}

div#logo {
	height: inherit;
	width: inherit;
	background-image: url('/assets/img/logo@1x.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/* links */
a {
	color: #5789b9;
	text-decoration: none;
}

a.active, a:hover {
	text-decoration: underline;
}

p#email-link, p#github-link {
	margin: 2em 0;
}

a i.fa {
	margin-right: 5px;
}

/* specific element styling */
section#things-i-love {
	letter-spacing: 1px;
	line-height: 2em;
	/*padding: 0 6em;*/
	max-width: 615px;
	margin: 0 auto;
}

section#things-i-love h4 {
	margin-bottom: 0;
}

/* nav */
nav {
	color: #5789b9;
}
nav.vert div:first-child {
	font-size: 1.1em;
	font-weight: bold;
}

nav.vert div, nav.vert a {
	padding: 5px 0;
}

/* music page */
section#album-list article {
	max-width: 500px;
	margin: 60px auto;
	background-color: #f2f2f2;
	border-radius: 3px;
	padding: 15px;
}

section#album-list article h3 {
	margin-top: 0;
	text-align: left;
	text-transform: uppercase;
}

section#album-list article h3 span:last-of-type {
	float: right;
}

section#album-list article div.song {
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 20px 0;
}

section#album-list article div.song span {
	display: inline-block;
	margin-right: 5px;
}

section#album-list article p {
	text-align: left;
	font-style: italic;
	margin-bottom: 0;
}

/* thoughts page */
#thought-list {
	padding: 0 60px 30px;
}

#thought-list article {
	padding: 30px 0 0;
	margin: 30px 0 0;
	border-top: 1px solid #ccc;
}

#thought-list article h3 {
	position: relative;
	margin-top: 0;
	text-align: left;
}

#thought-list article h3 span {
	display: block;
}

#thought-list article h3 span:first-child {
	text-transform: uppercase;
}

#thought-list article h3 span:last-child {
	font-weight: normal;
}

#thought-list article div.content {
	text-align: left;
}

/* admin section */
.error {
	font-weight: bold;
	color: red;
}

/* forms in general */
form {
	text-align: left;
}

form label, form input[type="submit"] {
	display: block;
	margin: 20px 0;
}

form label input {
	margin-left: 5px;
}

form textarea {
	border: 1px solid #ddd;
	width: 100%;
	padding: 5px;
}

table {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	border-collapse: collapse;
}

table td {
	border: 1px solid #ccc;
	padding: 10px;
}

section.form-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

[id$="form_btn"] {
	display: block;
	width: 180px;
	margin: 10px 0;
}

[id$="_form"] {
	display: none;
}

table#songs {
	margin-top: 60px;
	margin-bottom: 60px;
}

table#songs td:first-of-type {
	text-align: left;
}

div.thoughts {
	text-align: left;
}
/* end admin section */

/* responsive media queries */
@media(max-width: 600px) {
	main, footer {
		padding-left: 30px;
		padding-right: 30px;
	}

	#thought-list {
		padding: 0;
	}

	#thought-list article h3 span {
		display: block;
		position: static !important;
	}
}

@media(min-width: 601px) {
	h1 {
		padding: 0 30px;
	}
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
	div#logo {
		background-image: url('/assets/img/logo@2x.png');
	}
}

@media(max-width: 380px) {
	div#logo-wrapper {
		width: 100%;
	}
}
