/* normalize.css (https://necolas.github.io/normalize.css) */
@import url('https://necolas.github.io/normalize.css/4.1.1/normalize.css');

/* main layout */
html, body {
  height: 100%;
  overflow: auto;
  font-size: 1em;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}
div#wrapper {
	height: inherit;
	display: flex;
	flex-direction: column;
}
main, footer {
  flex-shrink: 1;
  text-align: center;
}
main {
  flex-grow: 1;
}
footer {
  font-size: 0.8em;
  color: gray;
  flex-grow: 0;
  padding: 1em 0;
}

hr {
	max-width: 600px;
}

@media(max-width: 600px) {
	main, footer {
		padding-left: 30px;
		padding-right: 30px;
	}
	h1 {
		font-size: 1.5em;
	}
	/*section#things-i-love {
		padding: 0 !important;
	}*/
}
@media(min-width: 601px) {
	h1 {
		padding: 0 30px;
	}
}

/* logo */
div.logo {
	height: 80px;
	width: 300px;
	margin: 30px auto 0;
	background-image: url('/assets/img/logo@1x.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
	div.logo {
		background-image: url('/assets/img/logo@2x.png');
	}
}
@media(max-width: 380px) {
	div.logo {
		width: 100%;
	}
}

/* links */
a {
  color: #5789b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p#email-link, p#github-link {
	margin: 2em 0;
}
a i.fa {
	margin-right: 5px;
}

section#things-i-love {
	letter-spacing: 1px;
	line-height: 2em;
	/*padding: 0 6em;*/
	max-width: 600px;
	margin: 0 auto;
}
section#things-i-love h4 {
	margin-bottom: 0;
}

/* nav */
nav.vert div:first-child {
  font-size: 1.1em;
  font-weight: bold;
}
nav.vert div, nav.vert a {
  padding: 5px 0;
}

/* admin section */

	/* forms in general */
	form {
		text-align: left;
	}
	form label, form input[type="submit"] {
		display: block;
		margin: 20px 0;
	}
	form label input {
		margin-left: 5px;
	}

	/* music page */
	section#music_section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#album_form_btn, #song_form_btn {
		display: block;
		width: 180px;
		margin: 10px 0;
	}

	#album_form, #song_form {
		display: none;
	}

/* end admin section */
