/*
    Style sheet for blog.php example
*/

html { 
    font-family: Arial; 
    background-color: #F9F9F9;
    color: #253061;
}
body {
    /*background-image: url('background.jpg');
    background-attachment: fixed;
    background-size: cover;*/
    margin: 0;
}

@media (min-width: 1200px) {
    .loginform {
        float: left;
    }
}

@media (max-width: 1199px) {
    .loginform {
        margin-top: 20px;
    }
}

.loginform {
    margin-left: 20px;
}

.form-wrapper { 
    width: 710px;         
    margin: 2% auto 0 auto;
}
form { 
    width: 100%; 
    float: left%;
}
fieldset {
    padding-top: 10px;
    background-color: #F9F9F9;
    /*border-radius: 20px;*/
}
legend {
    font-weight: bold;
}
.button-div {
    width: 100%;
    text-align: center;
}
label {
    margin-left: 20px;
}
input,select { 
    font: inherit; 
}
input[type=button], input[type=submit] { 
    cursor:pointer; 
}
input[type=number] { 
    width: 50px; 
}
textarea {
    font: inherit;
    padding: 10px;
    width: 97%;
}
#MyForm textarea {
    width: 90%;
}
#Body {
    margin: 30px 0 0 25px;    
}
#Title {
    width: 340px;
}
.blog {
    margin: 30px 0;
    padding: 10px;
    background-color: #E9E9E9;
    width: 97%;
    height: auto;
    float: left;
    /*border-radius: 20px;*/
}
.blog.selected {
    background-color: #D6F0F6;
}
.blog-section {
    float: left;
    height: auto;
    width: 100%;
}
.title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px 0;
    width: 75%;
    float: left;
}
.blog-button {
    float: right;
    width: 65px;
    margin-left: 5px;
}
.mood {
    float: right;
    font-style: italic;
}
.date {
    float: left;
}
.body {
    float: left;
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    background-color: #FFFFFF;
    width: 97%;
    overflow: auto;
}
.img-wrapper {
    /*height: 300px;*/
    width: 400px;
    margin: 20px auto;
}

img {
    width: 100%;
    display: block;
}

.comment-section {
    margin: 20px auto;
}
.comment {
    background-color: #FFFFFF;
    margin: 10px 0;
    padding: 10px;
}
.comment-title {
    font-style: italic;
}
.comment-body {
    padding: 10px;
}
.message {
    padding: 5px;
    border:1px solid gray; 
    background-color:#F9F9F9;
    max-width: 400px;
}
.error {
    color: red;
}
.success {
    color: green;
}
